.portfolio{
    position: relative;

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding: 50px;
        text-align: center;
        color: rgb(86, 47, 86);

        h1{

        }

        .progressBar{

        }
    }
}