@import "../../app.scss";

.navbar{
    height: 100px;

    .wrapper{
        max-width: 1200px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100px;

        @include mobile{
            justify-content: flex-end;
            padding: 20px;
        }

        span{
            font-weight: bold;

            @include mobile{
                display: none;
            }
        }

        .social{
            display: flex;
            align-items: center;
            gap: 20px;

            .blogButton{
                font-size: 16px;
                letter-spacing: 1.2px;
                color: white;
                background-color: rgb(86, 47, 86);;
                padding: 10px;
                border-radius: 6px;
            }

            .blogButton:hover{
                scale: 1.1;
                cursor: pointer;
            }

            img{
                width: 30px;
                height: 30px;
            }

            img:hover{
                scale: 1.1;
            }
        }
    }
}